<h1>T120B165 Saityno taikomųjų programų projektavimas</h1>
<p>Reikalavimai:</p>
<ul>
    <li>Sukurti naudotojo sąsajos sprendimą realizuotam REST API</li>
    <li>Responsive layout (bent 1 breakpoint`as, pvz. ties 768px)</li>
    <li>Images prisitaikymas (max-width taisyklė, kad paveikslėlis mažėtų neišlipdamas iš savo konteinerio elemento)</li>
    <li>Header, Content, Footer srityse stilius turėtų būti skirtingas (specifiškas). Srityse turėtų būti bent po keletą skirtingų elementų. Analogiški elementai skirtingose srityse turėtų įgauti skirtingą išvaizdą.</li>
    <li>Realizuoti informacijos įvedimo sąsają, bent su keletu skirtingų tipų input elementų.</li>
    <li>Panaudoti transitions arba animacijas, pagyvinančius naudotojo sąsają (UI)</li>
    <li>Padarytas responsive meniu (desktop: horizontalūs punktai, mobile: hamburger)</li>
    <li>Panaudoti vektorines ikonas (webfont, svg).</li>
    <li>Panaudotas kitoks šriftas (google fonts arba savo sugeneruotas)</li>
    <li>Panaudoti modalinį langą, kuriame pateikiama aktuali/prasminga informacija.</li>
    <li>Parinkti tarpusavyje besiderinančias spalvas.</li>
    <li>UI elementai negali išsimėtyti, išdėstymas turi paklusti tinklelio horizontalioms ir vertikalioms linijoms.</li>
    <li>Elementų matomumas ir pasiekiamumas neturi būti apsunkintas.</li>
    <li>Įvedimo formos turi būti aiškios ir nuoseklios.</li>
  
  </ul>